html, body {
  background: #101010;
  color: white;
  font-family: Arial;
  max-width: 100%;
  max-width: 100vw;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 56px;
  background: black;
  z-index: 10000;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  background: black;
  z-index: 10001;
}

.logo {
  height: 24px;
  margin: 12px 16px;
}

.search {
  position: absolute;
  top: 8px;
  right: 8px;
  outline: none;
  border: 1px solid #424242;
  background: black;
  border-radius: 4px;
  height: 36px;
  color: #d0d0d0;
  padding-left: 16px;
}

ul {
  list-style: none;
  padding: 64px 0 0 0;
  max-width: calc(100vw - 32px);
  margin: 0 16px;
  text-align: center;
}

li {
  position: relative;
  width: 125px;
  height: 188px;
  background: gray;
  margin: 24px 2px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}

li div {
  position: absolute;
}

.hover {
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background: rgba(20,20,20,0.6);
}

@media screen and (min-width:680px) {
  li {
    width: 232px;
    height: 130px;
    max-width: 232px;
    max-height: 130px;
  }

  li img {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
  }

  li:hover .hover {
    opacity: 1;
  }
}

/* PRELOADER */

.loader-overlay {
  transition: opacity 1s;
}

.preloader-1 {
  margin: 30vh auto 0;
  width: 66px;
  height: 12px;
}

.preloader-1 .logo {
  margin-left: -20px;
}

.preloader-1 .line {
  width: 1px;
  height: 12px;
  background: #D93025;
  margin: 0 3px;
  display: inline-block;
  animation: opacity-1 1000ms infinite ease-in-out;
}

.preloader-1 .line-1 { animation-delay: 800ms; }
.preloader-1 .line-2 { animation-delay: 600ms; }
.preloader-1 .line-3 { animation-delay: 400ms; }
.preloader-1 .line-4 { animation-delay: 200ms; }
.preloader-1 .line-6 { animation-delay: 200ms; }
.preloader-1 .line-7 { animation-delay: 400ms; }
.preloader-1 .line-8 { animation-delay: 600ms; }
.preloader-1 .line-9 { animation-delay: 800ms; }

@keyframes opacity-1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
